*, *::before, *::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2d30f7;
  color: white;
  text-align: center;
  padding: .5rem;
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
}

section {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media only screen and (max-width: 420px) {
  section input{
    max-width: 120px;
  }
}